<div class="space"></div>

<div>
 
<div class="jumbotron card card-image">
  <div class="d-flex justify-content-center">
    <p>
      <h1><strong><%= @article.title %></strong></h1>
    </p>
  </div>



  <div class="d-flex justify-content-center">
    <div> 
      

      <p> <%= image_tag @article.image.url(:large) , :class=>"card-img-top" %> </p>
      
      <p>
        <strong>Text:</strong>
        <%= @article.text %>
      </p>
    </div>
  </div>
</div>
  <div class="jumbotron card card-image">
  <div>
    <h2>Komentarze</h2>
    <div class="space"></div>
    <%= render @article.comments %>
    <div class="space"></div>
      <h2>Dodaj komentarz:</h2>
      <%= render 'comments/form' %>

      <% if signed_in? %>
        <% if current_user.is_admin%>
          <%= link_to 'Edytuj artykuł', edit_article_path(@article) %>
        <% end %>
      <% end %>
  </div>
  </div>

</div>

<div class="space"></div>