

<%= form_with model: @user, local: true do |form| %>
<div class="container bootstrap snippet">
    <h1 class="text-primary"><span class="glyphicon glyphicon-user"></span>Edytuj profil</h1>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag @user.image.url(:thumb) %>
          <h6>Zmień avatar</h6>
          <%= form.file_field :image %>
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Informacje użytkownika</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Imię:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Nazwisko:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Nazwa uzytkownika:</label>
            <div class="col-lg-8">
              <%= form.text_field :username, class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <%= form.text_field :email, class:"form-control" %>
            </div>
          </div>
          <div class="col-lg-8">
            <%= form.submit class:"form-control" %>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
<% end %>