<%= form_with model: @match do |form| %>

<% if @match.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@match.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @match.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="jumbo2 card card-image">
  <div class="form">
    <div class="row">
        <div class="col-md-offset-1 col-md-12 "><%= form.submit "Stwórz grę", class:"form-control" %></div>
    </div>
    <div class="row">
        <div class="col-md-2">Gracz:</div>
        <div class="col-md-4">Wynik:</div>
    </div>
    <div class="row">
        <div class="col-md-2"><%= collection_select(:match, :player_1_id, User.all,:id, :email,{}, {:class=>'form-control'}) %></div>
        <div class="col-md-4"><%= form.number_field :player_1_score, class:"form-control" %></div>
    </div>
    <div class="row">
        <div class="col-md-2"><%= collection_select(:match, :player_2_id, User.all,:id, :email,{}, {:class=>'form-control'}) %></div>
        <div class="col-md-4"><%= form.number_field :player_2_score, class:"form-control" %></div>
    </div>
    <div class="row">
        <div class="col-md-2"><%= collection_select(:match, :player_3_id, User.all,:id, :email,{}, {:class=>'form-control'}) %></div>
        <div class="col-md-4"><%= form.number_field :player_3_score, class:"form-control" %></div>
    </div>
    <div class="row">
        <div class="col-md-2"><%= collection_select(:match, :player_4_id, User.all,:id, :email,{}, {:class=>'form-control'}) %></div>
        <div class="col-md-4"><%= form.number_field :player_4_score, class:"form-control" %></div>
    </div>
  </div>
</div>

<% end %>